In [5]:
#initializations and libraries to load
import pandas as pd

In [6]:
#load data from csv to pandas dataframe

HousePrices = pd.read_csv("Data/kc_house_data.csv")

In [16]:
#Show the head of the data frame so we can get an idea of what we have so far
HousePrices.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [17]:
#Show the data types for each column in the dataframe
HousePrices.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

#This is where we will describe all of the data fields and make the case for categorical or continuous, and ordinal vs nominal.

In [ ]:
#Transformation 1 - Get the 'date' to be a usable format

In [18]:
#Transformation 2 - make sure that Condition is treated as a categorical variable
HousePrices['condition']

0        3
1        3
2        3
3        5
4        3
5        3
6        3
7        3
8        3
9        3
10       3
11       4
12       4
13       4
14       3
15       3
16       3
17       4
18       4
19       4
20       4
21       3
22       3
23       3
24       4
25       5
26       3
27       5
28       3
29       3
        ..
21583    4
21584    3
21585    3
21586    3
21587    3
21588    3
21589    3
21590    3
21591    3
21592    3
21593    3
21594    3
21595    3
21596    3
21597    3
21598    3
21599    3
21600    3
21601    3
21602    3
21603    3
21604    3
21605    3
21606    3
21607    3
21608    3
21609    3
21610    3
21611    3
21612    3
Name: condition, dtype: int64

In [ ]:
#Transformation 3 - should year built be an ordinal categorical variable?

In [ ]:
#Transformation 4 - should zip code be a nominal categorical variable?

In [ ]:
#Transformation 4 - Renovated T/F 0/1 Categorical variable?

In [ ]:
#Possible PCA/reduction in Square footage?

In [28]:
#How should View and Waterfront be used?  Can we trust this data?
HousePrices['view']

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       3
16       0
17       0
18       0
19       0
20       0
21       4
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
21583    0
21584    0
21585    0
21586    0
21587    0
21588    0
21589    0
21590    0
21591    0
21592    0
21593    2
21594    0
21595    0
21596    0
21597    0
21598    2
21599    0
21600    0
21601    0
21602    0
21603    0
21604    0
21605    0
21606    0
21607    0
21608    0
21609    0
21610    0
21611    0
21612    0
Name: view, dtype: int64

In [36]:
HousePrices.mean(axis=0)

id               4.580302e+09
price            5.400881e+05
bedrooms         3.370842e+00
bathrooms        2.114757e+00
sqft_living      2.079900e+03
sqft_lot         1.510697e+04
floors           1.494309e+00
waterfront       7.541757e-03
view             2.343034e-01
condition        3.409430e+00
grade            7.656873e+00
sqft_above       1.788391e+03
sqft_basement    2.915090e+02
yr_built         1.971005e+03
yr_renovated     8.440226e+01
zipcode          9.807794e+04
lat              4.756005e+01
long            -1.222139e+02
sqft_living15    1.986552e+03
sqft_lot15       1.276846e+04
dtype: float64